@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;

.profileVideoCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0.5rem;
    &__videoCard {
        flex-grow: 2;
        height: 10rem;
        margin: 0.5rem;
        width: 5rem;
        border: 1px solid black;
        border-radius: 4%;
        @include tablet-breakpoint {
            flex-grow: 4;
            height: 12rem;
            margin: 0.5rem;
            width: 7rem;
        }
    }
}