@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;

.profileNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    &__button {
        background-color: white;
        border: 0;
        padding: 0.5rem 4.7rem;
        @include tablet-breakpoint {
            padding: 0.5rem 11.7rem;
        }
        @include desktop-breakpoint {
            padding: 0.5rem 19.7rem;
        }
    }
}